<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handu.poweroperational">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".main.application.PowerOperationalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!-- meta-data：需要写在application中 -->
        <!-- 申请地址：http://lbsyun.baidu.com/apiconsole/key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AwE9YhcYWMR2zMPR2a2bKgvnO1vgeq0j" />

        <service
            android:name=".main.service.LocationUploadService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".main.receiver.RestartLocationUploadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".main.receiver.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.SelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.DownLoadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.workorder.NewWorkOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.workorder.HistoryWorkOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.activity.workorder.AddWorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.materials.MaterialsSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.QRCodeScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.QRCodeScanResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.operation.OperationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.NdkTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.PercentTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.LuckyExtractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.operation.AnalyzeChartsMaxActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".main.activity.map.MapActivity"></activity>
    </application>

</manifest>